li {
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 0 20px;
    position: relative;
}

.keyprop {
    bottom: 16px;
    font-size: 6.5px;
    position: absolute;
    text-align: right;
    right: 23px;

}

.edit {
    cursor: pointer;
    float: right;
    margin-top: 10px;
}