.form {
    background: floralwhite;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 20px;
    width: 250px;
}

input,textarea {
    margin: 10px 0;
    width: 97%;
}

.dueDate {
    font-weight: bold;
}

.dueDate::before{
    content:url("../../assets/img/clock.png"); /* with class ModalCarrot ??*/
    position:relative; /*or absolute*/
    top: 6px;
    margin-right: 10px;
}

